@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1 {
  cursor: default;
  font-size: 60px;
  color: #000;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.martin {
  position: fixed;
  top: 10vh;
  left: 30vw;
}
.achev {
  position: fixed;
  top: 20vh;
  right: 30vw;
}

a {
  color: #61dafb;
}
